<div class="container">
  <div class="scanner">
    <div class="header">
      <h2>Scanner</h2>
    </div>
    <div class="scanner-body">
      <div class="scanner-image">
        <img src="assets/finger.png" alt="Fingerprint Scanner" />
      </div>

      <div class="toggle-buttons">
        <div class="form-check form-switch">
          <input
            (click)="activate(0, 'locked')"
            type="checkbox"
            [checked]="checkBoxes[0]"
            class="form-check-input"
            id="lockDeviceToggle"
          />
          <label for="lockDeviceToggle">Lock Device</label>
        </div>
        <div class="form-check form-switch">
          <input
            (click)="activate(1, 'add_finger')"
            type="checkbox"
            [checked]="checkBoxes[1]"
            class="form-check-input"
            id="enrollStudentToggle"
          />
          <label for="enrollStudentToggle">Enroll New Student</label>
        </div>
        <div class="form-check form-switch">
          <input
            (click)="activate(2, 'verify_finger')"
            type="checkbox"
            [checked]="checkBoxes[2]"
            class="form-check-input"
            id="takeAttendanceToggle"
          />
          <label for="takeAttendanceToggle">Take Attendance</label>
        </div>

        <div class="form-check form-switch">
          <input
            (click)="activate(3, 'update_finger')"
            type="checkbox"
            [checked]="checkBoxes[3]"
            class="form-check-input"
            id="takeAttendanceToggle"
          />
          <label for="takeAttendanceToggle">Update Biometric</label>
        </div>
      </div>
    </div>
  </div>

  <form #addStudent="ngForm" (ngSubmit)="onSubmit()" *ngIf="checkBoxes[1]">
    <div class="filter-section">
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Full name"
            name="fullname"
            [(ngModel)]="formData.studentName"
            aria-label="Full name"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Enrollment Number"
            name="enrollmentno"
            [(ngModel)]="formData.enrollmentNo"
            aria-label="Enrollment Number"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            name="registrationNo"
            [(ngModel)]="formData.registrationNo"
            placeholder="Registration Number"
            aria-label="Registration Number"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            name="stream"
            [(ngModel)]="formData.stream"
            placeholder="Stream"
            aria-label="Stream"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Section"
            name="section"
            [(ngModel)]="formData.section"
            aria-label="Section"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Year"
            name="year"
            [(ngModel)]="formData.year"
            aria-label="Year"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Roll No"
            name="rollno"
            [(ngModel)]="formData.rollNo"
            aria-label="Roll no"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Finger Print"
            name="fingerprint"
            [(ngModel)]="formData.fingerPrint"
            [value]="formData.fingerPrint"
            aria-label="Finger Print"
          />
        </div>
      </div>
      <button class="submit-button btn btn-outline-dark" type="submit">
        Submit
      </button>
    </div>
  </form>

  <div class="student-data" *ngIf="checkBoxes[2]">
    <h3>Student Data</h3>
    <img src="assets/profile.png" alt="Student Profile Picture" />
    <p><strong>Name:</strong> {{ student.studentName }}</p>
    <p><strong>Enrollment No:</strong> {{ student.enrollmentNo }}</p>
    <p><strong>Registration No:</strong> {{ student.registrationNo }}</p>
  </div>
</div>
