<div class="container-fluid">
  <header class="header">
    <nav class="navbar">
      <div class="logo">
        <h1><a routerLink="/home">AuthentiScan</a></h1>
      </div>
      <ul class="nav-links">
        <li><a href="#">Attendance</a></li>
        <li><a routerLink="/home/all-student">All Students</a></li>
        <li><a href="#">Logs</a></li>
        <li><a href="#">Manage Settings</a></li>
        <li><a routerLink="/profile"><i class="fa-solid fa-user"></i></a></li>
      </ul>
    </nav>
  </header>

  <main class="main-content">
    <div class="scrollable-content">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="footer">
    <p>&copy; 2024 University of Engineering and Management, Kolkata. All Rights Reserved.</p>
  </footer>
</div>
